@model IEnumerable<MvcCoreCochesCosmosDb.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Vehiculos">
        Create New
    </a>
</p>
<p>
    <a asp-action="BuscarVehiculos" asp-controller="Vehiculos">
        Buscar Coches
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadMaxima)
            </td>
            <td>
                <a asp-controller="Vehiculos"
                   asp-action="Edit"
                   asp-route-id="@item.Id">
                    Edit
                </a> |
                <a asp-controller="Vehiculos"
                   asp-action="Details"
                   asp-route-id="@item.Id">
                    Details
                </a> |
                <a asp-controller="Vehiculos"
                   asp-action="Delete"
                   asp-route-id="@item.Id">
                    Delete
                </a> 
            </td>
        </tr>
}
    </tbody>
</table>
